<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin/main}">
    <main layout:fragment="content">
        <div class="save_success">
            <p th:if="${mode == null}">강의가 등록되었습니다.</p>
            <p th:if="${mode != null && mode == 'update'}">강의가 수정되었습니다.</p>
            <div class="after_success">
                <div class="select_index">
                    <a th:text="#{user.index}" th:href="@{/}">메인 페이지</a>
                </div>
                <div class="select_mypage">
                    <a th:text="#{user.myPage}" th:href="@{/}">마이페이지</a>
                </div>
            </div>
        </div>
    </main>
</html>