<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin/main}">
    <section layout:fragment="content">
        <h1 th:text="${title}"></h1>
        <th:block th:replace="~{admin/_message::message}"></th:block>
        <form method="post" name="formSiteConfig" th:action="@{/admin/config}">
            <table class="table-cols">
                <tr>
                    <th>사이트 제목</th>
                    <td>
                        <input type="text" name="siteTitle">
                    </td>
                </tr>
                <tr>
                    <th>사이트 설명</th>
                    <td>
                        <textarea name="siteDescription"></textarea>
                    </td>
                </tr>
                <tr>
                    <th>css & js version</th>
                    <td>
                        <input type="number" name="cssJsVersion">
                    </td>
                </tr>
                <tr>
                    <th>회원가입 약관</th>
                    <td>
                        <textarea name="joinTerms"></textarea>
                    </td>
                </tr>
            </table>
            <div class="btns">
                <button type="reset">재입력</button>
                <button type="submit">저장하기</button>
            </div>
        </form>
    </section>
</html>