<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin/main}">
    <section layout:fragment="content">
        <h1> 강의 검색 </h1>
        <form name="frmSearch" method="get" th:action="@{/admin/lecture}" autocomplete="off" th:object="${lectureSearch}">
            <table class="table-cols">
                <tr>
                    <th>검색어</th>
                    <td>
                        <div class="input_grp">
                            <select name="sopt" th:field="*{sopt}">
                                <option value="all">통합검색</option>
                                <option value="instructor">강사명</option>
                                <option value="title">강의제목</option>
                            </select>
                            <input type="text" name="skey" th:field="*{skey}" placeholder="검색어 입력...">
                        </div>
                    </td>
                </tr>
            </table>
            <div class="search_btn">
                <button type="submit">조회하기</button>
            </div>
        </form>

        <h1> 강의 목록 </h1>
        <form name="frmList" method="post" th:action="@{/admin/lecture}" autocomplete="off" target="ifrmProcess">
            <input type="hidden" name="_method" value="patch">

            <table class="table-rows">
                <thead>
                    <tr>
                        <th width="40">
                            <input type="checkbox" class="checkall" id="checkall" data-target-name="category">
                            <label for="checkall"></label>
                        </th>
                        <th width="150">카테고리</th>
                        <th width="300">상태</th>
                        <th width="300">강사명</th>
                        <th width="300">강의제목</th>
                        <th width="300">시작일</th>
                        <th width="300">종료일</th>
                        <th width="300">최대인원</th>
                        <th width="300">신청인원</th>
                        <th width="200">수강료</th>
                        <th width="300"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item, status : ${items}" th:object="${item}">
                        <td>
                            <input type="checkbox" name="category" th:value="*{category}" th:id="${'category_' + status.index}">
                            <lable th:for="${'category_' + status.index}"></lable>
                        </td>
                        <td  th:text="*{category}"></td>
                        <td align="center" th:text="*{lectureStatus}"></td>
                        <td align="center" th:text="*{instructor}"></td>
                        <td align="center" th:text="*{title}"></td>
                        <td align="center" th:text="*{startDt}"></td>
                        <td align="center" th:text="*{endDt}"></td>
                        <td align="right" th:text="*{capacity}"></td>
                        <td align="right" th:text="*{numOfStu}"></td>
                        <td align="right" to th:text="*{price}"></td>
                        <td align="center">
                            <a th:href="@{/admin/lecture}" class="sbtn">학생관리</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="table-action">
                <button type="button" class="sbtn">수정하기</button>
                <button type="button" class="sbtn bule">삭제하기</button>
            </div>
        </form>
    </section>
</html>