<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/board/main}">
    <main layout:fragment="content" class="content">
        <th:block th:replace="~{board/_board_title::title}"></th:block>
        <div class="view" th:object="${post}">
            <div class="subject">
                [[#{board.subject}]] : [[*{subject}]]
            </div>
            <div class="post_info">
                <div class="left">
                    [[#{board.poster}]] : [[*{poster}]]
                </div>
                <div class="right">
                    [[#{board.datetime}]] : [[*{#temporals.format(createdAt, 'YYYY.MM.dd HH:mm')}]]
                    <span>
                        [[#{board.hit}]] :
                        <th:block th:if="*{hit < 1000}" th:text="*{hit}"></th:block>
                        <th:block th:unless="*{hit < 1000}" th:text="*{#numbers.formatInteger(hit, 3)}"></th:block>
                    </span>
                </div>
            </div>
            <div class="view_content">
                <th:block th:utext="*{content}"></th:block>
            </div>
            <ul class="downloads" th:if="*{attachFiles != null && attachFiles.size() > 0}">
                <li th:each="file, status : *{attachFiles}" th:object="${file}">
                    첨부파일<th:block th:text="${status.count}"></th:block> : <a th:href="@{/file/download/{id}(id=*{id})}" th:text="*{fileName}"></a>
                </li>
            </ul>
            <div class="btn">
                <a th:href="@{/board/{id}/update(id=*{id})}" class="update"><i class="xi-pen-o">수정</i></a>
                <a th:href="@{/board/delete/{id}(id=*{id})}"  class="delete" onclick="return confirm('정말 삭제 하시겠습니까?');"><i class="xi-trash-o">삭제</i> </a>
                <a th:href="@{/board/list/{bId}(bId=*{board.bId})}" class="list"><i class="xi-align-justify">목록</i></a>
            </div>
           <p class="comment-title">댓글<th:block th:if="*{commentCnt > 0}" th:text="*{'(' +  commentCnt + ')'}"></th:block></p>
            <form th:replace="~{board/_comment_form::comment_form}"></form>
            <ul th:replace="~{board/_comment_form::comments}"></ul>
        </div>
    </main>
</html>