<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layouts/main}">
    <section layout:fragment="content">
        <form method="post" th:action="@{/member/findPw}" autocomplete="off">
            <div class="form">
                <h1 th:text="#{member.findPw}"></h1>
                <p th:text="#{member.findPw.comment}"></p>
                <div>
                    <label for="findPw Id"></label>
                    <input type="text" name="memberId" id="findPw Id" th:placeholder="#{member.findPw.id}" th:value="${memberId}">
                </div>
                <div class="btn">
                    <button type="submit" th:text="#{member.findPw}"></button>
                </div>
            </div>
        </form>
    </section>
</html>