<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://utraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main2}">
    <section layout:fragment="content">
        <h1 th:text="#{login}"></h1>

        <div class="errors global" th:if="${session.global != null}" th:text="${session.global}"></div>

        <form method="post" th:action="@{/member/login}" autocomplete="off" >
            <div class="flex_form">
                <table class="table-raw">
                    <tr>
                        <th th:text="#{memberId}"></th>
                        <td>
                            <input type="text" name="memberId" th:value="${session.memberId}">
                            <div class="errors" th:if="${session.requiredMemberId != null}" th:text="${session.requiredMemberId}"></div>
                        </td>
                    </tr>
                    <tr>
                        <th th:text="#{memberPw}"></th>
                        <td>
                            <input type="password" name="memberPw">
                            <div class="errors" th:if="${session.requiredMemberPw != null}" th:text="${session.requiredMemberPw}"></div>
                        </td>
                    </tr>
                </table>
                <div class="btns">
                    <button type="submit" th:text="#{member.action.login}"></button>
                </div>
            </div>
            <span>
                <a th:href="@{/member/findId}">
                    <i class="xi-user" th:text="#{member.findId}"></i>
                </a>
                <a th:href="@{/member/findPw}" >
                    <i class="xi-key" th:text="#{member.findPw}"></i>
                </a>
                <a th:href="@{/member/join}">
                    <i class="xi-users-plus" th:text="#{member.join}"></i>
                </a>
            </span>
        </form>
    </section>
</html>