<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
    <section layout:fragment="content">
        <form method="post" th:action="@{/member/resetPw}" name="frmResetPw" autocomplete="off" th:object="${pwResetForm}">
            <div class="form">
                <h1 th:text="${title}"></h1>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                <table class="table-cols">
                    <tr>
                        <td>
                            <input type="password" th:field="*{memberPw}" placeholder="새 비밀번호">
                            <div class="errors" th:each="err : ${#fields.errors('memberPw')}" th:text="${err}"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="password" th:field="*{memberPwRe}" placeholder="비밀번호 확인">
                            <div class="errors" th:each="err : ${#fields.errors('memberPwRe')}" th:text="${err}"></div>
                        </td>
                    </tr>
                </table>
                <div class="btn">
                    <button type="submit">비밀번호 저장</button>
                </div>
            </div>
        </form>
    </section>
</html>