<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/admin/main}">
    <section layout:fragment="content">
        <th:block th:replace="~{admin/board/_submenu::menus}"></th:block>
        <h1>게시판 목록</h1>
        <form method="post" th:action="@{/admin/board}" autocomplete="off" target="ifrmProcess">
            <table class="table-rows">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" class="checkall" id="checkall" data-target-name="bId">
                            <label for="checkall"></label>
                        </th>
                        <th>게시판ID</th>
                        <th>게시판명</th>
                        <th>관리</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="item, status : ${items}" th:object="${item}">
                    <td align="center">
                        <input type="checkbox" name="bId" th:value="*{bId}" th:id="${'bId_' + status.index}">
                        <label th:for="${'bId_' + status.index}"></label>
                    </td>
                    <td align="center" th:text="*{bId}"></td>
                    <td align="center" th:text="*{bName}"></td>
                    <td align="center">
                        <a th:href="@{/admin/board/{bId}/update(bId=*{bId})}" class="sbtn">설정수정</a>
                        <a th:href="@{/board/list/{bId}(bId=*{bId})}" class="sbtn">미리보기</a>
                        <a th:href="@{/board/write/{bId}(bId=*{bId})}" class="sbtn blue">글쓰기</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="table-action">
                <button type="button" class="sbtn">삭제하기</button>
            </div>
        </form>
    </section>
</html>