<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/admin/main}">
    <section layout:fragment="content">
        <th:block th:replace="~{admin/board/_submenu::menus}"></th:block>
        <h1>게시판 목록</h1>
        <form method="post" th:action="@{/admin/board}" autocomplete="off" target="ifrmProcess">
            <table class="table-rows">
                <thead>
                    <tr>
                        <th>게시판ID</th>
                        <th>게시판명</th>
                        <th>관리</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="item, status : ${items}" th:object="${item}">
                    <td align="center" th:text="*{bId}"></td>
                    <td align="center" th:text="*{bName}"></td>
                    <td align="center">
                        <a th:href="@{/admin/board/{bId}/update(bId=*{bId})}" class="sbtn">수정</a>
                        <a th:href="@{/admin/board/delete/{bId}(bId=*{bId})}" class="sbtn" onclick="return confirm('정말 삭제 하시겠습니까?');">삭제</a>
                        <span class="right">
                            <a th:href="@{/board/list/{bId}(bId=*{bId})}" class="sbtn blue">미리보기</a>
                            <a th:href="@{/board/write/{bId}(bId=*{bId})}" class="sbtn blue">글쓰기</a>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </section>
</html>