<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta name="_csrf" th:content="${_csrf.token}">
        <meta name="_csrf_header" th:content="${_csrf.headerName}">
        <title>관리자 페이지</title>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/admin/style.css?v={v}(v=1)}">
        <script th:src="@{/js/admin/common.js?v={v}(v=1)}"></script>
    </head>
    <body>
        <header th:replace="~{outlines/admin/header::common}"></header>
        <main>
            <aside th:replace="~{outlines/admin/aside::common}"></aside>
            <section layout:fragment="content"></section>
        </main>
        <footer th:replace="~{outlines/admin/footer::common}"></footer>
        <iframe name="iframeProcess" class="dn"></iframe>
    </body>
</html>